In [1]:
# Importing important Libraries
import pandas as pd
import selenium
from selenium import webdriver
from selenium.webdriver.chrome.options import Options   
from selenium.common.exceptions import InvalidSelectorException,NoSuchElementException
import time
from selenium .webdriver import ActionChains
chrome_options = Options()
chrome_options.add_argument('--incognito')
from selenium .webdriver.common.keys import Keys

In [2]:
#Connecting to the web server
driver=webdriver.Chrome(r"C:/Users/Akshai/Downloads/chromedriver_win32 (1)/chromedriver.exe")

#specifying the web page
driver.get("https://www.deccanherald.com")

#scrolling down to the page at the end
driver.execute_script("window.scrollTo(0,document.body.scrollHeight)")   #studied this on Pythonbasics.org
time.sleep(3)

#openeing the sitemap of the deccanherald.com page
driver.find_element_by_xpath("//div[@class='newfooter_section_two_blocks_last']/ul[2]/li[4]/a").click()

In [3]:
#switiching focus to the sitemap page
tab_1=driver.window_handles[1]         
driver.switch_to.window(tab_1)

In [4]:
#crating list to store the Month click reference
mnth=[]

In [5]:
#creating list to store scraped data
Date=[]
Author=[]
Vertical=[]
Headline=[]
Description=[]

In [6]:
#defining function to scrape web_element

def myscrape():
    
    try:
        
        txt=driver.find_element_by_xpath("//ul[@class='crud-items']/li[1]").text
        a=txt.split(',')[0]
        #print(a)
        Date.append(a)
    except NoSuchElementException as e:
        Date.append("-")
        #print("------")
        
    try:    
        Verti=driver.find_element_by_xpath("//div[@class='item-list']/ul/li[2]/a").text
        Vertical.append(Verti)
        #print(Verti)
        
    except NoSuchElementException as e:
         Vertical.append("-")
         #print("------")

    try:
        
        Head=driver.find_element_by_xpath("//div[@class='strap-heading-wrapper']/h1").text
        Headline.append(Head)
        #print(Head)
        
    except NoSuchElementException as e:
        Headline.append("-")
        #print("------")


    try:
        
        Desp=driver.find_element_by_xpath("//div[@class='field field-name-body field-type-text-with-summary field-label-hidden']").text
        Description.append(Desp)
        #print(Desp)
        
        
        
    except NoSuchElementException as e:
        Description.append("-")
        #print("------")
    
    
    try:
        
        auth=driver.find_element_by_xpath("//div[@class='article-author__time']/span").text
        Author.append(auth)
        #print(auth)
    except NoSuchElementException as e:
        Author.append("-")
        #print("------")
    
    driver.close()
    
    
    
    #switiching focus to the new tab
    tab_1=driver.window_handles[3]         
    driver.switch_to.window(tab_1)

In [7]:
#collecting the click element for september 2016 and december 2016
mnth.append(driver.find_element_by_xpath("//ul[@class='toplevel']/li[8]/ul/li[9]/a"))
mnth.append(driver.find_element_by_xpath("//ul[@class='toplevel']/li[8]/ul/li[12]/a"))

In [8]:
#defining the function to store and perform buttton click and element click
def scrape():
    
    button=driver.find_elements_by_xpath("//ul[@class='taxonomy-tree children']/li/a")
    print(len(button))
    
    for btn in button[12:len(button)]:#len(button)
        j=2
        #btn.click()
        act=ActionChains(driver)
        act.context_click(btn).key_down(Keys.CONTROL).click(btn).perform()
    
        #switiching focus to the new tab
        tab_2=driver.window_handles[j+1]         
        driver.switch_to.window(tab_2)
    
        elem_=driver.find_elements_by_xpath("//li[@class='group sanspro-reg archives-note']/a")
        print(len(elem_))
    
        for i in elem_[0:len(elem_)]:
            k=3
            act=ActionChains(driver)
            act.context_click(i).key_down(Keys.CONTROL).click(i).perform()
            #switiching focus to the new tab
            tab_2=driver.window_handles[k+1]         
            driver.switch_to.window(tab_2)
            myscrape()
    
        driver.close()
    

        #checking the lenght of each list
        print(len(Date),len(Author),len(Vertical),len(Headline),len(Description))

        #switiching focus to 2016 oct storeies
        tab_1=driver.window_handles[2]         
        driver.switch_to.window(tab_1)
        
    driver.close()
        
    #switiching focus to 2016 oct storeies
    tab_1=driver.window_handles[1]         
    driver.switch_to.window(tab_1)

In [9]:
#initializing for loop for scraping information
for month in mnth[1:2]:
        l=1
        act=ActionChains(driver)
        act.context_click(month).key_down(Keys.CONTROL).click(month).perform()
        #switiching focus to the new tab
        tab_2=driver.window_handles[l+1]         
        driver.switch_to.window(tab_2)
        scrape()

31
165
165 165 165 165 165
160
325 325 325 325 325
160
485 485 485 485 485
148
633 633 633 633 633
164
797 797 797 797 797
121
918 918 918 918 918
117
1035 1035 1035 1035 1035
135
1170 1170 1170 1170 1170
116
1286 1286 1286 1286 1286
125
1411 1411 1411 1411 1411
115
1526 1526 1526 1526 1526
143
1669 1669 1669 1669 1669
123
1792 1792 1792 1792 1792
133
1925 1925 1925 1925 1925
157
2082 2082 2082 2082 2082
158
2240 2240 2240 2240 2240
141
2381 2381 2381 2381 2381
154
2535 2535 2535 2535 2535
110
2645 2645 2645 2645 2645

In [10]:
#checking the lenght of each list
print(len(Date),len(Author),len(Vertical),len(Headline),len(Description))

2645 2645 2645 2645 2645

In [11]:
deccan_df=pd.DataFrame({})#creating the dataset

In [12]:
#creating the columns for saving the list values
deccan_df['Date']=Date
deccan_df['Author']=Author
deccan_df['Vertical']=Vertical
deccan_df['Headline']=Headline
deccan_df['Description']=Description

In [13]:
deccan_df

,Date,Author,Vertical,Headline,Description
0,DEC 13 2016,"Mumbai, Dec 13, 2016, (PTI),",Business,"Market brushes aside Fed rate hike signal, bou...",Stocks today shrugged off a widely expected US...
1,DEC 13 2016,"Mumbai, Dec 13, 2016, (PTI),",Business,"Bank credit plunges by Rs 61,000cr in post not...",The demand destruction unleashed by the Novemb...
2,DEC 13 2016,"New Delhi, Dec 13, 2016, PTI,",Business,Cash squeeze: ADB slashes India's 2016 growth ...,The Asian Development Bank (ADB) today trimmed...
3,DEC 13 2016,"New Delhi, Dec 13, 2016, PTI,",Business,Hyundai India to hike prices by up to Rs 1 lak...,Hyundai Motor India Ltd today said it will hik...
4,DEC 13 2016,"Washington, Dec 13, 2016, PTI,",Business,'H1B visa row in WTO may lead to trade retalia...,Months after India dragged the US to WTO over ...
...,...,...,...,...,...
2640,DEC 31 2016,"Shreekumar Varma, Jan 01, 2017,",Sunday Herald,A win for variety,"So, shall we start with Z? In a year where so ..."
2641,DEC 31 2016,"Jan 01, 2017,",Sunday Herald,Favourite reads of 2016,"Shashi Warrier\n— ‘The Drunkard’s Walk’, by Le..."
2642,DEC 31 2016,"Jan 01, 2017,",Sunday Herald,Runaway hits,When Breath Becomes Air (Medicine)\nPaul Kalan...
2643,DEC 31 2016,"Rajiv vijayakar, Jan 01, 2017,",Sunday Herald,Where content ruled...,"Since the customer is king, he can either be a..."
2644,DEC 31 2016,"Surekha Kadapa-Bose, Bindu Gopal Rao & Rajiv V...",Archives,Dates with destinations,Neeti Mohan (Singer)\nI largely like to be in...

In [14]:
deccan_df.to_csv('deccan_dec_2016_02.csv')

In [3]:
#importing the saved datasets and making it as one
df_a=pd.read_csv('deccan_sep_2016_01.csv')
df_b=pd.read_csv('deccan_sep_2016_02.csv')
df_c=pd.read_csv('deccan_dec_2016_01.csv')
df_d=pd.read_csv('deccan_dec_2016_02.csv')

In [4]:
deccan_df=pd.concat([df_a,df_b,df_c,df_d],ignore_index=False) #concatinating the datasets

In [8]:
deccan_df #printing the dataset

,Date,Author,Vertical,Headline,Description
0,SEP 14 2016,"New Delhi, Sep 15, 2016, PTI:,",Business,Sebi deems gifting of shares as sale,Any inter-se transfer of shares by a promoter ...
1,SEP 14 2016,"Narayan Kulkarni, Bengaluru, Sep 15, 2016, DHNS:,",Business,Skrilo to raise $5 million to expand businesse...,"Skrilo, a full suite mobile marketing and rewa..."
2,SEP 14 2016,"Umesh M Avvannavar, Bengaluru, Sep 15, 2016, D...",Business,Zonnett to enter new markets,"Zonnett, a car-sales repair and service platfo..."
3,SEP 14 2016,"Furquan Moharkan, New Delhi, Sep 15, 2016, DHNS:,",Business,"Volvo powers towards emission-free driving, un...",In a bid towards creating a cleaner environmen...
4,SEP 14 2016,"Mumbai, Sep 15, 2016, DHNS:,",Business,PayU to acquire Citrus Pay for $130 million,"PayU, the global online payment service provid..."
...,...,...,...,...,...
2640,DEC 31 2016,"Shreekumar Varma, Jan 01, 2017,",Sunday Herald,A win for variety,"So, shall we start with Z? In a year where so ..."
2641,DEC 31 2016,"Jan 01, 2017,",Sunday Herald,Favourite reads of 2016,"Shashi Warrier\n— ‘The Drunkard’s Walk’, by Le..."
2642,DEC 31 2016,"Jan 01, 2017,",Sunday Herald,Runaway hits,When Breath Becomes Air (Medicine)\nPaul Kalan...
2643,DEC 31 2016,"Rajiv vijayakar, Jan 01, 2017,",Sunday Herald,Where content ruled...,"Since the customer is king, he can either be a..."
2644,DEC 31 2016,"Surekha Kadapa-Bose, Bindu Gopal Rao & Rajiv V...",Archives,Dates with destinations,Neeti Mohan (Singer)\nI largely like to be in...

In [11]:
deccan_df.to_csv('Deccan_Herald_September_december_(2016)_Akshay_Sharma.csv') #saving the dataframe to csv format

In [12]:
deccan_df.to_excel('Deccan_Herald_September_december_(2016)_Akshay_Sharma.xlsx') #saving the dataframe to xlsx format

In [15]:
deccan_df=pd.concat([df_a,df_b,df_c,df_d],ignore_index=True) #concatinating the datasets as json files require unique indexing

In [16]:
df.to_json(r'folder_name\file_name.json') #saving the dataframe to xlsx format